* {
  margin: 0;
  padding: 0;
}

/* reset */

html,
body,
#main {
  height: 100%
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}
